
TouchDesigner/Backup/

TouchDesigner/SlimeControl_autosave/

*.mov

TouchDesigner/Nexus.*.toe

Ressources/

TouchDesigner/Media/

TouchDesigner/Iris Particles.*.toe

.DS_Store

Chataigne/Nexus_autosave/

Chataigne/Nexus-Unity_autosave/

Audio/

TouchDesigner/Iris-Pictures/

Chataigne/Research/Oxipital Live_Nexus_Star_autosave/

TouchDesigner/TV_Screen.*.toe

After Effect/Adobe After Effects Auto-Save/

After Effect/Nexus_AME/

After Effect/Nexus.aep Logs/

Chataigne/Research/Oxipital Live_Nexus_Dune_autosave/
