
TouchDesigner/Backup/

TouchDesigner/SlimeControl_autosave/

*.mov

TouchDesigner/Nexus.*.toe

Ressources/

TouchDesigner/Media/

TouchDesigner/Iris Particles.*.toe

.DS_Store

Chataigne/Nexus_autosave/
